.countryView {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 20px 0;
  border-radius: 18px;
  transition: 0.6s ease-out;
  margin: auto;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  scale: 0;
  opacity: 0;
  max-width: 1200px;
}

.countryView__full {
  width: 90vw;
}

@media screen and (max-width: 1000px) {
  .countryView__full {
    justify-content: center;
    flex-direction: column-reverse;
    width: 400px;
  }
}
